.profil {
  background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
  background-size: cover;

  &__container {
    padding: 80px;
  }
  &__info {
    padding-bottom: 80px;
  }
  &__title {
    font-size: 50px;
    margin: 0;
  }
  &__subtitle {
    font-size: 20px;
    margin: 0;
  }
  &__link {
    text-decoration: none;
    color: $tertiary-color;
    background-color: $secondary-color;
    border: none;
    padding: 15px;
    transition: background 0.6s ease, color 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
    &:hover {
      background-color: $tertiary-color;
      color: $secondary-color;
      border: none;
    }
  }
}
